<div class="row justify-content-center mt-4">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Calculadora Online
        <span class="label label-danger">By Faissal Fatmi</span>
      </div>
      <div class="panel-body">
        <div class="input-group mb-3">
          <input type="text" [(ngModel)]="valor" class="form-control" id="tResult" aria-describedby="basic-addon3" />
        </div>

        <div class="row">
          <div class="col">
            <button (click)="operar('7')" #btn7 value="7" type="button" class="btn btn-default btn-block">7</button>
          </div>
          <div class="col">
            <button (click)="operar('8')" #btn8 value="8" type="button" class="btn btn-default btn-block">8</button>
          </div>
          <div class="col">
            <button (click)="operar('9')" #btn9 value="9" type="button" class="btn btn-default btn-block">9</button>
          </div>
          <div class="col">
            <button (click)="operar('/')" #btnS value="/" type="button" class="btn btn-success btn-block">/</button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button (click)="operar('4')" #btn4 value="4" type="button" class="btn btn-default btn-block">4</button>
          </div>
          <div class="col">
            <button (click)="operar('5')" #btn5 value="5" type="button" class="btn btn-default btn-block">5</button>
          </div>
          <div class="col">
            <button (click)="operar('6')" #btn6 value="6" type="button" class="btn btn-default btn-block">6</button>
          </div>
          <div class="col">
            <button (click)="operar('*')" #btnX value="x" type="button" class="btn btn-success btn-block">x</button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button (click)="operar('1')" #btn1 value="1" type="button" class="btn btn-default btn-block">1</button>
          </div>
          <div class="col">
            <button (click)="operar('2')" #btn2 value="2" type="button" class="btn btn-default btn-block">2</button>
          </div>
          <div class="col">
            <button (click)="operar('3')" #btn3 value="3" type="button" class="btn btn-default btn-block">3</button>
          </div>
          <div class="col">
            <button (click)="operar('+')" #btnM value="+" type="button" class="btn btn-success btn-block">+</button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button (click)="operar('0')" #btn0 value="0" type="button" class="btn btn-default btn-block">0</button>
          </div>
          <div class="col">
            <button (click)="operar('.')" #btnP value="." type="button" class="btn btn-default btn-block">.</button>
          </div>
          <div class="col">
            <button (click)="calcular()" #btnI value="=" type="button" class="btn btn-danger btn-block">=</button>
          </div>
          <div class="col">
            <button (click)="operar('-')" #btnR value="-" type="button" class="btn btn-success btn-block">-</button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button (click)="borrar()" type="button" class="btn btn-primary btn-lg btn-block mt-3">C</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
